* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #300052;
    --color: #300052;
    --bs-color: #b97be5;
    --star-color: #ffffff;
    --bs-sat: transparent;
}

body {
    width: 375px;
    background: var(--bg-color);
    background-repeat: no-repeat;
    color: var(--color);
    text-align: center;
    font-family: 'Baloo 2', cursive;
    height: auto;
    margin-inline: auto;
    
}

header {
    margin-top: 50px;
    max-width: 375px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header img {
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(0px 0px 4px #b97be5 );
    filter: drop-shadow(0px 0px 4px #b97be5);
    animation: spin 12s linear infinite;
}

.title {
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0em 0em 1em #b97be5;
    font-family: sans-serif;
}

.title-2 {
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px #b97be5;
    font-weight: normal;
    letter-spacing: 7px;
    font-family: sans-serif;
    margin-left: 6px;
}

.satelite {
    display: flex;
    width: 375px;
    margin-inline: auto;
    justify-content: end;
}

.satelite img {
    position: absolute;
    width: 50px;
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
    -webkit-filter: drop-shadow(0px 0px 4px var(--bs-sat));
    filter: drop-shadow(0px 0px 4px var(--bs-sat));
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#container {
    padding: 40px;
    margin-inline: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 375px;
    width: 80%;
    height: 630px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 0px 45px var(--bs-color);
} 

#container h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    opacity: 0.9;
    font-size: 36px;
    line-height: 30px;
}

.img-inicio {
    width: 120px;
}

p {
    margin-bottom: 40px;
    opacity: 0.7;
}

input {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 20px;
    border-radius: 30px;
}

input {
    margin-bottom: 20px;
    border: 1px solid #30005268;
}

a {
    border: none; 
    background: linear-gradient(73deg, rgba(48,0,82,1) 19%, rgba(140,91,175,1) 100%);
    color: #FFFFFF;
    transition: filter .2s;
    text-decoration: none;
    display: flex;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border-radius: 35px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

a p {
    margin-bottom: 0;
    opacity: 1;
}
.img-botao {
    width: 30px;
    height: 30px;
}

a:hover {
    filter: brightness(1.9);
    cursor: pointer;
}

#resposta {
    margin-top: 30px;
    transition: opacity 1s;
}

#resposta div {
    font-size: 16px;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 0px;
}

.rocket {
    width: 375px;
    display: flex;
    margin-inline: auto;
    animation: anim-rocket 13s linear infinite;
}

.rocket img {
    width: 40px;
    position: absolute;
}

.star-back {
    max-width: 375px;
    margin-inline: auto;
}

.stars {
    position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 50px 30px var(--star-color),
    100px 80px var(--star-color),
    80px 120px var(--star-color),
    300px 20px var(--star-color),
    250px 130px var(--star-color),
    200px 50px var(--star-color),
    150px 100px var(--star-color),
    320px 100px var(--star-color),
    100px 80px var(--star-color),
    300px 180px var(--star-color),
    0px 420px var(--star-color),
    0px 20px var(--star-color),
    20px 130px var(--star-color),
    300px 50px var(--star-color),
    350px 400px var(--star-color),
    100px 280px var(--star-color),
    380px 420px var(--star-color),
    200px 220px var(--star-color),
    350px 410px var(--star-color),
    100px 350px var(--star-color),
    250px 400px var(--star-color),
    10px 320px var(--star-color),
    200px 420px var(--star-color),
    350px 130px var(--star-color),
    200px 350px var(--star-color),
    50px 300px var(--star-color),
    220px 300px var(--star-color);
    animation: anim-stars 10s linear infinite;
    z-index: -1;
}

.stars::after {
    content: " ";
    position: absolute;
    top: 150px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    box-shadow: 50px 30px var(--star-color),
    100px 80px var(--star-color),
    80px 120px var(--star-color),
    300px 20px var(--star-color),
    250px 130px var(--star-color),
    200px 50px var(--star-color),
    150px 100px var(--star-color),
    320px 100px var(--star-color),
    100px 80px var(--star-color),
    300px 180px var(--star-color),
    0px 420px var(--star-color),
    0px 20px var(--star-color),
    20px 130px var(--star-color),
    300px 50px var(--star-color),
    350px 400px var(--star-color),
    100px 280px var(--star-color),
    380px 420px var(--star-color),
    200px 220px var(--star-color),
    350px 410px var(--star-color),
    100px 350px var(--star-color),
    250px 400px var(--star-color),
    10px 320px var(--star-color),
    200px 420px var(--star-color),
    350px 130px var(--star-color),
    200px 350px var(--star-color),
    50px 300px var(--star-color),
    220px 300px var(--star-color);
}

.stars2 {
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px var(--star-color),
    125px 35px var(--star-color),
    50px 80px var(--star-color),
    10px 120px var(--star-color),
    275px 90px var(--star-color),
    230px 10px var(--star-color),
    120px 130px var(--star-color),
    300px 130px var(--star-color),
    220px 115px var(--star-color),
    400px 80px var(--star-color),
    300px 380px var(--star-color),
    280px 120px var(--star-color),
    400px 220px var(--star-color),
    150px 530px var(--star-color),
    200px 150px var(--star-color),
    350px 300px var(--star-color),
    400px 280px var(--star-color),
    280px 320px var(--star-color),
    300px 220px var(--star-color),
    350px 230px var(--star-color),
    400px 350px var(--star-color),
    250px 400px var(--star-color),
    220px 300px var(--star-color);
    animation: anim-stars 50s linear infinite;
    z-index: -1;
}
  
.stars2::after {
    content: " ";
    position: absolute;
    top: 150px;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px var(--star-color),
    125px 35px var(--star-color),
    50px 80px var(--star-color),
    10px 120px var(--star-color),
    275px 90px var(--star-color),
    230px 10px var(--star-color),
    120px 130px var(--star-color),
    300px 130px var(--star-color),
    220px 115px var(--star-color),
    400px 80px var(--star-color),
    300px 380px var(--star-color),
    280px 120px var(--star-color),
    400px 220px var(--star-color),
    150px 530px var(--star-color),
    200px 150px var(--star-color),
    350px 300px var(--star-color),
    400px 280px var(--star-color),
    280px 320px var(--star-color),
    300px 220px var(--star-color),
    350px 230px var(--star-color),
    400px 350px var(--star-color),
    250px 400px var(--star-color),
    220px 300px var(--star-color);
} 

.stars3 {
    position: relative;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 50px 30px var(--star-color),
    100px 80px var(--star-color),
    80px 120px var(--star-color),
    300px 20px var(--star-color),
    250px 130px var(--star-color),
    200px 50px var(--star-color),
    150px 100px var(--star-color),
    320px 100px var(--star-color),
    100px 80px var(--star-color),
    300px 180px var(--star-color),
    0px 420px var(--star-color),
    0px 20px var(--star-color),
    20px 130px var(--star-color),
    300px 50px var(--star-color),
    350px 400px var(--star-color),
    100px 280px var(--star-color),
    380px 420px var(--star-color),
    200px 220px var(--star-color),
    350px 410px var(--star-color),
    100px 350px var(--star-color),
    250px 400px var(--star-color),
    10px 320px var(--star-color),
    200px 420px var(--star-color),
    350px 130px var(--star-color),
    200px 350px var(--star-color),
    50px 300px var(--star-color),
    220px 300px var(--star-color);
    animation: anim-stars 30s linear infinite;
    z-index: -1;
}

.stars4 {
    position: relative;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    box-shadow: 15px 15px var(--star-color),
    125px 35px var(--star-color),
    50px 80px var(--star-color),
    10px 120px var(--star-color),
    275px 90px var(--star-color),
    230px 10px var(--star-color),
    120px 130px var(--star-color),
    300px 130px var(--star-color),
    220px 115px var(--star-color),
    400px 80px var(--star-color),
    300px 380px var(--star-color),
    280px 120px var(--star-color),
    400px 220px var(--star-color),
    150px 530px var(--star-color),
    200px 150px var(--star-color),
    350px 300px var(--star-color),
    400px 280px var(--star-color),
    280px 320px var(--star-color),
    300px 220px var(--star-color),
    350px 230px var(--star-color),
    400px 350px var(--star-color),
    250px 400px var(--star-color),
    220px 300px var(--star-color);
    z-index: -1;
}

@keyframes anim-stars {
    from {
        transform: translateY(-100vh);
    }
    to {
        transform: translateY(100vh);
    }
}

@keyframes anim-rocket {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(-100vh);
    }
}

@media screen and (min-width: 601px) {
    body {
        width: 500px;
	height: 100vh;
    }

    header {
        max-width: 500px;
    }

    .satelite {
        width: 500px;
    }

    #container {
        max-width: 500px;
    }

    .rocket {
        width: 500px;
    }

    .stars {
        box-shadow: 50px 30px var(--star-color),
        100px 80px var(--star-color),
        80px 120px var(--star-color),
        300px 20px var(--star-color),
        250px 130px var(--star-color),
        200px 50px var(--star-color),
        550px 100px var(--star-color),
        320px 100px var(--star-color),
        100px 80px var(--star-color),
        500px 180px var(--star-color),
        50px 420px var(--star-color),
        50px 20px var(--star-color),
        20px 130px var(--star-color),
        500px 50px var(--star-color),
        350px 400px var(--star-color),
        100px 280px var(--star-color),
        380px 420px var(--star-color),
        200px 220px var(--star-color),
        550px 410px var(--star-color),
        100px 350px var(--star-color),
        250px 400px var(--star-color),
        10px 320px var(--star-color),
        500px 420px var(--star-color),
        350px 130px var(--star-color),
        500px 350px var(--star-color),
        50px 300px var(--star-color),
        220px 300px var(--star-color),
        200px 220px var(--star-color),
        -50px 410px var(--star-color),
        -10px 350px var(--star-color),
        -25px 400px var(--star-color),
        -10px 320px var(--star-color),
        -100px 420px var(--star-color),
        -150px 130px var(--star-color),
        -200px 350px var(--star-color),
        -50px 300px var(--star-color),
        -120px 300px var(--star-color);
    }
    
    .stars::after {
        box-shadow: 50px 30px var(--star-color),
        100px 80px var(--star-color),
        80px 120px var(--star-color),
        300px 20px var(--star-color),
        250px 130px var(--star-color),
        200px 50px var(--star-color),
        550px 100px var(--star-color),
        320px 100px var(--star-color),
        100px 80px var(--star-color),
        500px 180px var(--star-color),
        50px 420px var(--star-color),
        50px 20px var(--star-color),
        20px 130px var(--star-color),
        500px 50px var(--star-color),
        350px 400px var(--star-color),
        100px 280px var(--star-color),
        380px 420px var(--star-color),
        200px 220px var(--star-color),
        550px 410px var(--star-color),
        100px 350px var(--star-color),
        250px 400px var(--star-color),
        10px 320px var(--star-color),
        500px 420px var(--star-color),
        350px 130px var(--star-color),
        500px 350px var(--star-color),
        50px 300px var(--star-color),
        220px 300px var(--star-color),
        200px 220px var(--star-color),
        -50px 410px var(--star-color),
        -10px 350px var(--star-color),
        -25px 400px var(--star-color),
        -10px 320px var(--star-color),
        -100px 420px var(--star-color),
        -150px 130px var(--star-color),
        -200px 350px var(--star-color),
        -50px 300px var(--star-color),
        -120px 300px var(--star-color);
    }
    
    .stars2 {
        box-shadow: 15px 15px var(--star-color),
        125px 35px var(--star-color),
        50px 80px var(--star-color),
        10px 120px var(--star-color),
        275px 90px var(--star-color),
        230px 10px var(--star-color),
        120px 130px var(--star-color),
        300px 130px var(--star-color),
        -220px 115px var(--star-color),
        400px 80px var(--star-color),
        300px 380px var(--star-color),
        280px 120px var(--star-color),
        400px 220px var(--star-color),
        -150px 530px var(--star-color),
        -200px 150px var(--star-color),
        350px 300px var(--star-color),
        400px 280px var(--star-color),
        280px 320px var(--star-color),
        300px 220px var(--star-color),
        350px 230px var(--star-color),
        400px 350px var(--star-color),
        250px 400px var(--star-color),
        220px 300px var(--star-color),
        150px 530px var(--star-color),
        200px 150px var(--star-color),
        350px 300px var(--star-color),
        400px 280px var(--star-color),
        -80px 320px var(--star-color),
        300px 220px var(--star-color),
        350px 230px var(--star-color),
        400px 350px var(--star-color),
        -50px 400px var(--star-color),
        -220px 300px var(--star-color);
    }
      
      .stars2::after {
        box-shadow: 15px 15px var(--star-color),
        125px 35px var(--star-color),
        50px 80px var(--star-color),
        10px 120px var(--star-color),
        275px 90px var(--star-color),
        230px 10px var(--star-color),
        120px 130px var(--star-color),
        300px 130px var(--star-color),
        -220px 115px var(--star-color),
        400px 80px var(--star-color),
        300px 380px var(--star-color),
        280px 120px var(--star-color),
        400px 220px var(--star-color),
        -150px 530px var(--star-color),
        -200px 150px var(--star-color),
        350px 300px var(--star-color),
        400px 280px var(--star-color),
        280px 320px var(--star-color),
        300px 220px var(--star-color),
        350px 230px var(--star-color),
        400px 350px var(--star-color),
        250px 400px var(--star-color),
        220px 300px var(--star-color),
        150px 530px var(--star-color),
        200px 150px var(--star-color),
        350px 300px var(--star-color),
        400px 280px var(--star-color),
        -80px 320px var(--star-color),
        300px 220px var(--star-color),
        350px 230px var(--star-color),
        400px 350px var(--star-color),
        -50px 400px var(--star-color),
        -220px 300px var(--star-color);
    }  

}

@media screen and (min-width: 1020px) {
    body {
        overflow: hidden;
    }
}

